.back-btn {
  width: 5rem;
  background-color: #0b2947;
  color: #fff;
  border-radius: 5px;
  height: 2.3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 2rem;
  border-width: 0.2px;
}

.frispee-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin-top: 3rem;
  padding: 2rem;
}

.frispee-title {
  font-size: 2rem;
  color: #0b2947;
}

.frisbee-details {
  margin-top: 2rem;
}

.frisbee-detail-img {
  width: 35rem;
  height: 35rem;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 1rem;
}

.frisbee-description {
  color: rgb(82, 81, 81);
}

.frispee-details {
  margin-top: 2rem;
}

.detail-heading {
  font-weight: 600;
  width: 6rem;
  text-transform: capitalize;
}

.frispee-detail-wrapper {
  margin-top: 0.5rem;
}

.buy-btn {
  width: 20rem;
  background-color: #0b2947;
  color: #fff;
  border-radius: 5px;
  height: 2.3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 2rem;
  border-width: 0.2px;
}

@media screen and (max-width: 912px) {
  .frisbee-detail-img {
    width: 30rem;
    height: 30rem;
  }
}

@media screen and (max-width: 514px) {
  .frisbee-detail-img {
    width: 100%;
    height: 100%;
  }
  .frisbee-details {
    margin-top: 2rem;
  }

  .buy-btn {
    width: 100%;
  }
}
