<div class='container-fluid col align-items-center'>
  <div class='row justify-content-md-center'>
    <div class='col-md-10'>
      <h1 class='main-heading'>
        Infinite Discs
      </h1>
      <p>
        Infinite Discs are manufactured by Innova Champion Discs. Each disc is designed and manufactured to fill precise
        niches and needs in every disc golf bag. Most Infinite Discs models are designed for players at all levels,
        while
        some discs will be fine-tuned for the specific demands of experienced throwers. Every run specifies the run
        number
        and includes the total number of discs manufactured. This information helps throwers find consistency and allows
        collectors to know the rarity of their discs.
      </p>
    </div>
  </div>
  <div class='row justify-content-md-center'>
    <div *ngFor="let category of frisbeesList | keyvalue" class='col-md-10 align-items-start justify-content-start'>
      <div class='category-box'>
        <h6 class='category-heading'>{{category.key}}</h6>
      </div>
      <div class='frisbee-list row justify-content-md-start'>
        <div class='col-sm' *ngFor="let frisbee of frisbeesList[category.key].frisbees">
          <app-frisbee data-testid='app-frisbee' [frisbee]=frisbee></app-frisbee>
        </div>
      </div>
    </div>
  </div>
</div>
